.form-component {
  form {
    max-width: 300px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;

    input {
      height: 40px;
      font-family: $font-1;
      font-size: 1.5rem;
    }

    input[type="text"] {
      border-radius: 20px 20px 0 0;
      text-align: center;
    }

    input[type="submit"] {
      border-radius: 0 0 20px 20px;
      background-color: $color3;
      color: $white;
      cursor: pointer;
      position: relative;

      &:hover {
        background: $color2;
      }
    }
  }
  .flop-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto 0;
    max-width: 300px;
    position: relative;

    button {
      font-family: $font-2;
      font-size: 1.2rem;

      &:hover {
        background: $color3;
        color: $white;
      }
    }

    .btn-left {
      border-radius: 20px 0 0 20px;
    }
    .btn-right {
      border-radius: 0 20px 20px 0;
    }
  }
  
}
