@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Dongle-Light.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Dongle-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$white: rgb(218, 218, 218);
$black: rgb(43, 43, 43);
$color1: #151F30;
$color2: #060d2c;
$color3: #0593A2;
$color4: #FF7A48;
$color5: #E3371E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all 0.5s;
}

a,
a:visited {
    color: $white;
}

button {
    cursor: pointer;
}

body {
    background: $color1;
    color: aliceblue;
    font-family: $font-1;
}
.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }